.some-text {
    font-family: "Open Sans", serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}

.Cross-out {
    text-decoration-line: line-through;
}

.Increase {
    text-transform: uppercase;
    text-align: center;
}

.Shadow {
    text-decoration: overline;
    text-decoration-style: wavy;
    text-shadow: 1px 1px 2px #a919b1;
}

.Distance {
    text-decoration: underline double;
    letter-spacing: 5px;
}
